body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

canvas {
  border: 1px solid #000;
  width: 344px;
  z-index: 1;
}

#controls {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #666e70;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  width: 250px;
  height: 200px;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: #666;
  color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
  cursor: pointer;
}

.play {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 5;
  border: none;
  border-radius: 50%;
  background-color: #666e70;
}

#leftButton {
  position: absolute;
  left: 60px;
  bottom: 160px;
  vertical-align: middle;
}

#rightButton {
  position: absolute;
  bottom: 160px;
  right: 50px;
  vertical-align: middle;
}

#downButton {
  position: absolute;
  bottom: 100px;
  left: 45%;
  transform: translateX(-50%);
}
